version: '2'
services:
  nginx:
    container_name: nginx
    image: master.example.com/epixstudios-nginx
    restart: always
    ports:
     - "80:80"
     - "443:443"
    volumes:
     - /volumes/certs:/certs
    links:
     - nextcloud
  mysql:
    container_name: mysql
    image: mysql
    restart: always
    volumes:
     - /volumes/mysql:/var/lib/mysql
    ports:
     - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: XXX
  nextcloud:
    container_name: nextcloud
    image: nextcloud
    restart: always
    volumes:
     - /volumes/nextcloud/config:/var/www/html/config
     - /volumes/nextcloud/data:/var/www/html/data
    environment:
      NEXTCLOUD_ADMIN_USER: user
      NEXTCLOUD_ADMIN_PASSWORD: XXX
