MASTER_ADDRESS = 'X.X.X.X'
MASTER_VOLUMES_PATH = '/root/backups/media'
MASTER_DATABASES_PATH = '/root/backups/databases'
MASTER_PUBLIC_KEY = 'ssh-rsa XXX root@master'
NON_BACKED_UP_VOLUMES = ['mysql', 'nextcloud']
REGISTRY_ADDRESS = 'master.example.com'
REGISTRY_USER = 'user'
REGISTRY_PASSWORD = 'XXX'
DIGITALOCEAN_TOKEN = 'XXX'
SCALEWAY_TOKEN = 'XXX'
SCALEWAY_ACCESS_KEY = 'XXX'
DOCKER_MACHINE_CONFIG_PATH = '~/.docker/machine'
LOCAL_REPOS_PATH = '~/projects/docker-repos'
LOCAL_VOLUMES_PATH = '~/projects/docker-repos/volumes'
